
<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="css/appointment.css">
<div class="container addApp">
  <a href="/newAppointment"><button class="btn rounded-pill btn-lg "><i class="fas fa-plus"></i>New Appointment</button></a>
</div>
<div class="container search">
<form class="form-inline my-2 my-lg-0" action="/appointment" method="post">
     <input class="form-control mr-sm-2" type="date" placeholder="Search by date" name="searchInput">
     <button class="btn" type="submit">Search</button>
   </form>
 </div>
<div class="container-fluid tableContent">
  <h1>Today's Appointments</h1>
<table class="table table-bordered">
<thead class="thead-dark">
  <tr>
    <th scope="col">Status</th>
    <th scope="col">Appointment_id</th>
    <th scope="col">Patient_id</th>
    <th scope="col">Name</th>
    <th scope="col">Mobile No.</th>
    <th scope="col">Doctor Name</th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
    <th scope="col">Token</th>
    <th scope="col">Comments</th>
    <th scope="col">Delete</th>
    <th scope="col">Update Status</th>
  </tr>
</thead>
<tbody>



  <%for(let key in display){%>
    <%if(display[key].status==="Done"){%>
    <tr class="onUpdate">
      <td><input type="checkbox" class="checkedApp" value="" checked></td>
      <td ><%=display[key].appointment_id%></td>
      <td ><%=display[key].patient_id%></td>
      <td ><%=display[key].patient_name%></td>
      <td ><%=display[key].patient_number%></td>
      <td ><%=display[key].doctor_name%></td>
      <td ><%=display[key].date%></td>
      <td ><%=display[key].time%></td>
      <td ><%=display[key].token_no%></td>
      <td ><%=display[key].comments%></td>
      <td><form class="form" action="/appointment/delete" method="post">
        <input name="buttonClickedDelete" id="hiddenElement" value="<%=display[key].appointment_id%>"/>
      <button type="submit" name="button" class="btn btn-sm deleteBtn" id=""><i class="fas fa-trash-alt"></i></button>
      </form>
    </td>
    <td><form class="form" action="/appointment/update" method="post">
      <input name="buttonClickedUpdate" id="hiddenElement" value="<%=display[key].appointment_id%>"/>
    <button type="submit" name="button" class="btn btn-sm deleteBtn" id="updateBtn">Update</button>
    </form>
    </tr>
      <%}%>
      <%if(display[key].status!="Done"){%>
        <tr>
          <td><input type="checkbox" class="checkedApp" value=""></td>
          <td ><%=display[key].appointment_id%></td>
          <td ><%=display[key].patient_id%></td>
          <td ><%=display[key].patient_name%></td>
          <td ><%=display[key].patient_number%></td>
          <td ><%=display[key].doctor_name%></td>
          <td ><%=display[key].date%></td>
          <td ><%=display[key].time%></td>
          <td ><%=display[key].token_no%></td>
          <td ><%=display[key].comments%></td>
          <td><form class="form" action="/appointment/delete" method="post">
            <input name="buttonClickedDelete" id="hiddenElement" value="<%=display[key].appointment_id%>"/>
          <button type="submit" name="button" class="btn btn-sm deleteBtn" id=""><i class="fas fa-trash-alt"></i></button>
          </form>
        </td>
        <td><form class="form" action="/appointment/update" method="post">
          <input name="buttonClickedUpdate" id="hiddenElement" value="<%=display[key].appointment_id%>"/>
        <button type="submit" name="button" class="btn btn-sm deleteBtn" id="updateBtn">Update</button>
        </form>
        <%}%>
<%}%>

</tbody>
</table>
</div>

<%-include("partials/footer")%>
